.slide .side-menu__item.active, .slide .side-menu__item:hover {
    background: #477bc9 !important;
}

body {
    background: #fff0f9 !important;
}

.bg-success{
    background-color: #cdac9b !important;
}
.text-success {
    color: #cdac9b !important;
}


.bg-primary, .btn-primary{
    background-color: #0076c9 !important;
}

.text-primary  {
    color: #0076c9 !important;
}

.bg-secondary, a.bg-secondary:focus, a.bg-secondary:hover, button.bg-secondary:focus, button.bg-secondary:hover{
    background-color: #ce9a00 !important;
}

.text-secondary, a.text-secondary:focus, a.text-secondary:hover {
    color: #ce9a00 !important;
}

.text-danger, .border-danger {
    color: #ae926f!important;
    border-color: #ae926f!important;
}

.btn-danger, .btn-danger:hover {
    background-color: #9f7b3f;
    border-color: #9f7b3f;
}

.bg-danger-transparent {
    background: rgba(100,91.4,92.9,.1);
    color: #ae926f;
}


.side-menu .slide a {
    background: none;
    color: #a293a0;
}


.btn-primary {
    background-color: #0076c9;
    border-color: #0076c9;
}


i{
    color: #fff;
}
